In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
dfmov = pd.read_csv('../../data/imdb_movies_clean_1st.csv')

In [10]:
dfmov.head(1)

,Unnamed: 0,imdb_title_id,original_title,year,genre,duration,country,language,director,writer,production_company,actors,description
0,0,tt0000009,Miss Jerry,1894,Romance,45,USA,0,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.

In [6]:
dfrat = pd.read_csv('../../data/IMDb_ratings.csv')

In [11]:
dfrat.head(1)

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0

In [12]:
dfrat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 49 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   imdb_title_id              85855 non-null  object
 1   weighted_average_vote      85855 non-null  float64
 2   total_votes                85855 non-null  int64
 3   mean_vote                  85855 non-null  float64
 4   median_vote                85855 non-null  float64
 5   votes_10                   85855 non-null  int64
 6   votes_9                    85855 non-null  int64
 7   votes_8                    85855 non-null  int64
 8   votes_7                    85855 non-null  int64
 9   votes_6                    85855 non-null  int64
 10  votes_5                    85855 non-null  int64
 11  votes_4                    85855 non-null  int64
 12  votes_3                    85855 non-null  int64
 13  votes_2                    85855 non-null  int64
 14  votes_1                    85855 non-null  int64
 15  allgenders_0age_avg_vote   33359 non-null  float64
 16  allgenders_0age_votes      33359 non-null  float64
 17  allgenders_18age_avg_vote  85149 non-null  float64
 18  allgenders_18age_votes     85149 non-null  float64
 19  allgenders_30age_avg_vote  85845 non-null  float64
 20  allgenders_30age_votes     85845 non-null  float64
 21  allgenders_45age_avg_vote  85775 non-null  float64
 22  allgenders_45age_votes     85775 non-null  float64
 23  males_allages_avg_vote     85854 non-null  float64
 24  males_allages_votes        85854 non-null  float64
 25  males_0age_avg_vote        27411 non-null  float64
 26  males_0age_votes           27411 non-null  float64
 27  males_18age_avg_vote       84390 non-null  float64
 28  males_18age_votes          84390 non-null  float64
 29  males_30age_avg_vote       85843 non-null  float64
 30  males_30age_votes          85843 non-null  float64
 31  males_45age_avg_vote       85754 non-null  float64
 32  males_45age_votes          85754 non-null  float64
 33  females_allages_avg_vote   85774 non-null  float64
 34  females_allages_votes      85774 non-null  float64
 35  females_0age_avg_vote      22117 non-null  float64
 36  females_0age_votes         22117 non-null  float64
 37  females_18age_avg_vote     79334 non-null  float64
 38  females_18age_votes        79334 non-null  float64
 39  females_30age_avg_vote     84911 non-null  float64
 40  females_30age_votes        84911 non-null  float64
 41  females_45age_avg_vote     83057 non-null  float64
 42  females_45age_votes        83057 non-null  float64
 43  top1000_voters_rating      85176 non-null  float64
 44  top1000_voters_votes       85176 non-null  float64
 45  us_voters_rating           85646 non-null  float64
 46  us_voters_votes            85646 non-null  float64
 47  non_us_voters_rating       85854 non-null  float64
 48  non_us_voters_votes        85854 non-null  float64
dtypes: float64(37), int64(11), object(1)
memory usage: 32.1+ MB

This is an example of collaborative filtering through user. Meaning it will use other users information to recommend articles to the user in place. It tries finding users with similar preferences and opinions. The used method here is the Pearson corelation.

In [ ]:
# User creation, I am giving user information of his personal ration over movies

userInput = [
{'title':'Heat', 'rating':8},
{'title':'Star Wars: Episode II - Attack of the Clones', 'rating':4.5},
{'title':'Secret in Their Eyes, The (El secreto de sus ojos)', 'rating':4.5},
{'title':'Terminator 2: Judgment Day', 'rating':4.5},
{'title':'Four Rooms', 'rating':3.5}    
]
inputMovies = pd.DataFrame(userInput)

In [ ]:
# Muy probable que vaya que utilizar la media de muchos valores

In [ ]:
user_movie_rating = movie_data.pivot_table(index='userId', columns="title", values="rating")